<div id="wrapper" class="">

    <div class="overlay" style="display: none;"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

        <ul class="nav sidebar-nav">

            <img src="/assets/images/ubibanner.png" height="60px" width="250px">
   
            <li>
                <a href="" [routerLink]="['/empdetails']"><i class="glyphicon glyphicon-ok"></i>Employee Details</a>
            </li>
            <li>
                <a href="" [routerLink]="['/bankbranch']"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Bank Branch</a>
            </li>
            <li>
                <a href="" [routerLink]="['/regionaloffice']"><i class="glyphicon glyphicon-ok"></i> Regional Office</a>
            </li>
             <!-- <li>
                <a href="" [routerLink]="['/empunit']"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Employee Unit Mapping</a>
            </li> -->
            
            <li>
                <a href="" [routerLink]="['/masterbank']"><i class="glyphicon glyphicon-ok"></i>Master Bank</a>
            </li> 
        
            <li>
                <a href="" [routerLink]="['/masterunit']"><i class="glyphicon glyphicon-ok"></i> Master Unit</a>
            </li>
           

        </ul>
    </nav>
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas" (click)="toggleClick($event)"> 
            
         <span class=" hamb-top "></span>
         <span class="hamb-middle "></span>
         <span class="hamb-bottom "></span>
      </button>

    </div>

</div>