<h2 style="color: darkblue;"><b>Regional Office Table</b></h2>
<div class="table-content">
  <div class="col-md-12">

    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
    </div>

    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  <br>
  <br>
<div class="addNew_with_modal">
  <button type="button" class="btn btn-info add_new" (click)="createNewModal($event)">Add New RO</button>
  <div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
<br>
<br>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create New RO</h4>
        </div>
        <div class="modal-body">
          <div class="emp_details">
            <label for="CreateRoName">RO Name</label>
            
              <input id="CreateRoName" type="text" class="form-control" placeholder="Enter RO Name">
            
          </div>
         
          <div class="emp_details">
            <label for="Createstatus">Select Status</label>
            <select class="form-control" id="Createstatus">
              <option class="active">Active</option>
              <option class="inactive">InActive</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createnew($event)">Create</button>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="update_with_modal">
  
  <div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
<br>
<br>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update RO</h4>
        </div>
        <div class="modal-body">
          <div class="emp_details">
            <label for="UpdateRoName">RO Name</label>
            
              <input id="UpdateRoName" type="text" class="form-control">
            
          </div>
          
          
          <div class="emp_details">
            <label for="Updatestatus">Select Status</label>
            <select class="form-control" id="Updatestatus">
              <option class="active">Active</option>
              <option class="inactive">InActive</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateData($event)">Update</button>
        </div>
      </div>

    </div>
  </div>
</div>
  <table class="table table-striped " id="customers">


    <tr>
      <th>Employee Id</th>
      <th>RO Name</th>
      <th>Status</th>
    </tr>

    <tr
      *ngFor="let item of datatables | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">

      <td>{{item.employeeid}}</td>
      <td>{{ item.roname }}</td>
      <td>{{ item.status}}</td>
    </tr>

  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>