#header {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 99999;
}

#sidebar-left {
    display: block;
    height: 100%;
}

#main {
    text-align: center;
    margin-top: 40px;
    width: 100%;
    float: left;
    width: 100%;
    height: 100%;
}

#footer {
    clear: both;
    height: 50px;
    width: 100%;
    text-align: center;
}