.header-fixed {
    background-image: linear-gradient(to right, #021957, #021957,#021957, #740730, #740730, #700508);

        width: 100%;
        display: block;
        height: 62px;
    }

.header-logo {
    float: left;
    margin-right: right;
    text-align: right;
}

.header-logo1 {
    float: right;
    font-weight: bold;
    font-size: larger;
    color: white;
    text-align: left;
    margin-right: 10px;
    margin-top: 7px;
}

.header-logo1 span {
    display: inherit;
}