<h2 style="color: darkblue;"><b>Master Bank Table</b></h2>
<div class="table-content">
  <div class="col-md-12">

    <div class="items_per_page">
      <span class="items_per_page_text">Items Per Page</span>
      <select id="PerPage" class="" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
    </div>

    <div class="search_div">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="search_icon" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Search.....">
    </div>
  </div>
  <br>
  <br>
<div class="addNew_with_modal">
  <button type="button" class="btn btn-info add_new" data-toggle="modal" data-target="#myModal" >Create Bank Master</button>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
<br>
<br>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create New Master Bank</h4>
        </div>
        <div class="modal-body">
          <div class="emp_details">
            <label for="bankname">Bank Name</label>
            
              <input id="bankname" type="text" class="form-control" placeholder="Enter Bank Name">
            
          </div>
          <div class="emp_details">
            <label for="productname">Product Name</label>
            
              <input id="productname" type="text" class="form-control" placeholder="Enter Product Name">
            
          </div>
          <div class="emp_details">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="createnew($event)">Create</button>
        </div>
      </div>

    </div>
  </div>
</div>

  <table class="table table-striped " id="customers">


    <tr>
      <th>Employee Id</th>
      <th>Employee Name</th>
      <th>Designation</th>
      <th>Report To</th>
      <th>State</th>
      <th>Status</th>
    </tr>

    <tr
      *ngFor="let item of datatables | filter:searchText | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">

      <td>{{item.employeeid}}</td>
      <td>{{ item.employeename }}</td>
      <td>{{ item.designation }}</td>
      <td>{{ item.reportto}}</td>
      <td>{{ item.state}}</td>
      <td>{{ item.status}}</td>
    </tr>

  </table>
  <div class="paginateDiv">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>