#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #021957;
    color: white;
    scroll-behavior: scroll;
}
input[type=button] {
    background-color: #021957;
    border: none;
    color: white;
    padding: 08px 08px;
    text-decoration: none;
    margin: 2px 2px;
  }
 
